scikit-learn~=0.23.1
pandas~=1.1
keras~=2.4

google-cloud-storage==2.9.0
google-cloud-vision==3.4.2

diagrams~=0.23.3
numba~=0.56.4
calmap~=0.0.11
july~=0.1.3
seaborn~=0.12.2
prophet~=1.1.5
micrograd~=0.1.0

